<div class="row-fluid">
	<div class="span24 small muted">
		<hr>
		<p>
			Please send comments, bugs, and sweet, sweet donations to <a href="https://forum-en.guildwars2.com/members/fooey-5824">fooey.5824</a><br>
			Or, /wave at Zyrrii [<a href="http://night-vision.guildlaunch.com">NV</a>] if you wander by on <a href="/en/fort-aspenwood">Fort Aspenwood</a><br>
		</p>
		<hr>
		<p>
			© 2013 ArenaNet, Inc. All rights reserved. NCsoft, the interlocking NC logo, ArenaNet, Guild Wars, Guild Wars Factions, Guild Wars Nightfall, Guild Wars: Eye of the North, Guild Wars 2, and all associated logos and designs are trademarks or registered trademarks of NCsoft Corporation. All other trademarks are the property of their respective owners.
		</p>
	</div>
</div>