
<% _.each(objectivesMap, function(region, regionName) { %>
<div class="alert alert-<%= region.alert %>">
	<ul class="unstyled" title="<%= regionName %>">
		<% _.each(region.objectives, function(objId, i) { %>
			<li class="objective team" id="obj-<%= objId %>" data-id="<%= objId %>">
				<span class="sprite2small"></span>
				<span class="objName"></span>
				<sup class="guild"></sup>
				<span class="recapTimer mono" title="Righteous Indignation Buff Timer"></span>
			</li>
		<% }); %>
	</ul>
</div>
<% }); %>