<br>

<div class="row-fluid" id="scoreOverall" class="scoreOverall"></div>

<div class="row-fluid" id="maps">
	<div class="span6">
		<div id="breakdown-Center" class="breakdown Center"></div>
	</div>
	<div class="span18">
		<div class="row-fluid">
			<div class="span8"><div id="breakdown-RedHome" class="breakdown RedHome"></div></div>
			<div class="span8"><div id="breakdown-BlueHome" class="breakdown BlueHome"></div></div>
			<div class="span8"><div id="breakdown-GreenHome" class="breakdown GreenHome"></div></div>
		</div>
		<div class="row-fluid"><div class="span24">
			<div id="logContainer"></div>
		</div></div>
	</div>
</div>

<div id="warmupWarning" class="alert alert-warning"><strong>
	The app is not aware of timers started before loading the page.<br>
	After 5 minutes, all timers will be accurate
</strong></div>

<div id="audioToggle">
	<audio id="audioNotification"><source src="/assets/audio/beep-27.mp3" type="audio/mpeg"></audio>
</div>