<li class="team red scoreBoard clearfix" id="mapScoreBoard-red-<%= mapType.key %>">
	<span class="worldName"><%= match.redWorld.name %></span>
	<span class="income mono"></span>
	<span class="score mono"><%= _.numberFormat(map.score.red) %></span>
</li>
<li class="team blue scoreBoard clearfix" id="mapScoreBoard-blue-<%= mapType.key %>">
	<span class="worldName"><%= match.blueWorld.name %></span>
	<span class="income mono"></span>
	<span class="score mono"><%= _.numberFormat(map.score.blue) %></span>
</li>
<li class="team green scoreBoard clearfix" id="mapScoreBoard-green-<%= mapType.key %>">
	<span class="worldName"><%= match.greenWorld.name %></span>
	<span class="income mono"></span>
	<span class="score mono"><%= _.numberFormat(map.score.green) %></span>
</li>
