<div class="span8 text-center team red">
	<div class="alert alert-error" id="redScoreBoard"">
		<h3>
			<div><%= match.redWorld.name %></div>
			<div class="mono">
				<span class="score"><%= _.numberFormat(matchDetails.score.red) %></span>
				+<span class="income"></span>
			</div>
		</h3>
		<ul class="holdings inline">
			<li><span class="sprite2small sprite-red-castle"></span>x<span class="castle holdingCount" id="numRedCastle">0</span></li>
			<li><span class="sprite2small sprite-red-keep"></span>x<span class="keep holdingCount" id="numRedKeep">0</span></li>
			<li><span class="sprite2small sprite-red-tower"></span>x<span class="tower holdingCount" id="numRedTower">0</span></li>
			<li><span class="sprite2small sprite-red-camp"></span>x<span class="camp holdingCount" id="numRedCamp">0</span></li>
		</ul>
	</div>
</div>
<div class="span8 text-center team blue">
	<div class="alert alert-info" id="blueScoreBoard">
		<h3>
			<div><%= match.blueWorld.name %></div>
			<div class="mono">
				<span class="score"><%= _.numberFormat(matchDetails.score.blue) %></span>
				+<span class="income"></span>
			</div>
		</h3>
		<ul class="holdings inline">
			<li><span class="sprite2small sprite-blue-castle"></span>x<span class="castle holdingCount" id="numBlueCastle">0</span></li>
			<li><span class="sprite2small sprite-blue-keep"></span>x<span class="keep holdingCount" id="numBlueKeep">0</span></li>
			<li><span class="sprite2small sprite-blue-tower"></span>x<span class="tower holdingCount" id="numBlueTower">0</span></li>
			<li><span class="sprite2small sprite-blue-camp"></span>x<span class="camp holdingCount" id="numBlueCamp">0</span></li>
		</ul>
	</div>
</div>
<div class="span8 text-center team green">
	<div class="alert alert-success" id="greenScoreBoard">
		<h3>
			<div><%= match.greenWorld.name %></div>
			<div class="mono">
				<span class="score"><%= _.numberFormat(matchDetails.score.green) %></span>
				+<span class="income"></span>
			</div>
		</h3>
		<ul class="holdings inline">
			<li><span class="sprite2small sprite-green-castle"></span>x<span class="castle holdingCount" id="numGreenCastle">0</span></li>
			<li><span class="sprite2small sprite-green-keep"></span>x<span class="keep holdingCount" id="numGreenKeep">0</span></li>
			<li><span class="sprite2small sprite-green-tower"></span>x<span class="tower holdingCount" id="numGreenTower">0</span></li>
			<li><span class="sprite2small sprite-green-camp"></span>x<span class="camp holdingCount" id="numGreenCamp">0</span></li>
		</ul>
	</div>
</div>