
<div class="row-fluid">
	<div class="span24 text-center">
		<br>
		<a href="/"><img src="/assets/img/logo-512x192.png" class='block-center' width="512" height="192"/></a>
	</div>
</div>

<div class="row-fluid">
	<div class="span24">
		<div id="matchLists"><h1 class="page-header"><i class="icon-spinner icon-spin"></i> Loading Matches</h1></div>
	</div>
</div>

<div class="row-fluid">
	<div class="span24">
		<div id="ruinsWarning" class="alert alert-error alert-notify"><strong>
			The current API does not provide notification when a ruin node reverts to neutral.<br>
			Because of this limitation, it is not currently possible to provide accurate owner information on those nodes.
		</strong></div>
		
		<div id="warmupWarning" class="alert alert-warning alert-notify"><strong>
			The app is not aware of timers started before loading the page.<br>
			After 5 minutes, all timers will be accurate to within a few seconds.
		</strong></div>
	</div>
</div>

<div class="row-fluid">
	<div class="span24">
		<div id="worldLists"><h1 class="page-header"><i class="icon-spinner icon-spin"></i> Loading Worlds</h1></div>
	</div>
</div>

<br>
<br>