body{
	font-family: menomonia;
	font-size: 16px;
	margin-bottom: 80px;
}

.container,
.navbar-static-top .container{
	width: 976px;
}


.strong{font-weight: bold;}
.text-center{text-align: center !important}
.text-left{text-align: left !important}
.text-right{text-align: right !important}
.small {font-size: 85%; line-height: 140%;}
.capitalize {text-transform: capitalize;}

.block-center{display: block; margin-left: auto; margin-right: auto;}
.block-left{display: block; margin-left: 0; margin-right: auto;}
.block-right{display: block; margin-left: auto; margin-right: 0;}
.nowrap{display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}

.num,
.mono{
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace
}

.well, .alert{
	margin: 4px 0;
	padding: 3px 0;
}

.alert-well {
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  color: #000;
}





.team.red{color: #b94a48 !important}
.team.blue{color: #3a87ad !important}
.team.green{color: #468847 !important}
.team.base{color: #999 !important; font-style: italic;}


/*
 * navbar
 */

.navbar{
	font-size: 14px;
}
.navbar .brand{
	padding: 0 20px 0 0;
	margin: 0;
}
.navbarIcon{
	font-size: 28px;
	line-height: 40px;
	margin: 0;
	padding: 0 8px 0 0;
	width: 1em;
	padding: 0;
	margin: 0;
}
.navbarIcon .icon-stack{
	font-size: 14px;
	vertical-align: middle;
}
#audioToggle{
	cursor: pointer;
}


/*
 * world selection
 */

#worldLists ul{
	padding: 8px 20px;
}
#worldLists ul.active{
	background-color: #f9f9f9;
	border: 1px solid #eee;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

#matchLists li{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#matchLists a{
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	float: left;
	width: 33%;
}



#scoreOverall h3{
	font-size: 15pt;
	line-height: 15pt;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
	margin: 0;
	padding: 4px;
}



.breakdown.active *{
	border-color: #000;
}
.breakdown.active .well{
	background-color: #ffe;
}
.breakdown.active .well h4{
	font-weight: bold;
}

.breakdown h4.serverName{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0 8px;
	margin: 0;
	text-align: center;
	font-weight: normal;
	cursor: pointer;
	color: #003;
}

.breakdown .scores{
	font-size: 9pt;
	margin: 0;
	padding: 0 6px;
}

.breakdown .scoreBoard span{
	display: block;
	float: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	
}
.breakdown .scoreBoard .worldName{
	width: 67%;
}
.breakdown .scoreBoard .income{
	font-size: 8pt;
	width: 10%;
	text-align: right;
}
.breakdown .scoreBoard .score{
	font-size: 8pt;
	width: 23%;
	text-align: right;
}

.holdings{
	margin: 0;
	padding: 0;
}
.holdings .sprite2small{
	margin-right: .25em;
}



.objectives ul{
	margin: 0;
	padding: 0;
}
.objectives .divider{
  *width: 100%;
  height: 1px;
  margin: 3px 1px;
  *margin: -1px 0 1px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
}

li.objective{
	line-height: 20px;
	height: 20px;
	font-size: 10pt;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: baseline;
	padding: 0 0 0 3px;
	position: relative;
	
	border: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
li.objective.highlight{
	background-color: #ffc;
}
li.objective .objName{
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 155px;
}
li.objective a{
	color: inherit;
}

li.objective .recapTimer{
	color: #300;
	background-color: #ffc;
	text-align: center;
	float: right;
	font-size: 10px;
	height: 16px;
	line-height: 16px;
	padding: 0 4px;
	margin: 2px 1px 2px 0;
	
	position: absolute;
	right: 0;
	top: 0;
	
	border: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
li.objective .recapTimer.unknown{
	color: #999;
	background-color: #eee;
	font-style: italic;
}

.alert-notify{
	padding: .5em 1em;
	text-align: center;
	font-size: 14pt;
	line-height: 120%;
}

#logContainer{
	margin-top: 8px;
}
#logTabs{
	margin: 0 0 4px 0;
}

#logTabs li{
}
#logTabs a{
	cursor: pointer;
	font-size: 9pt;
	padding: 2px 8px; 
	margin: 0;
}

#log{
	height: 200px;
	overflow-y: scroll;
}
.log{
	margin: 0;
	padding: 0;
	font-size: 9pt;
}

.log li,
.log .timeStamp,
.log .mapName,
.log .objName,
.log .objectiveEvent{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.log .timeStamp,
.log .mapName,
.log .objName,
.log .objectiveEvent{
	display: inline-block;
	float: left;
	border-top: #ccc;
}
.log li.header{
	font-weight: bold;
}
.log li.alt{
	background-color: #f9f9f9;
}

.log .timeStamp		{width: 7%;}
.log .mapName		{width: 18%;}
.log .objName		{width: 35%;}
.log .objectiveEvent{width: 40%;}

#audioToggle label{
	display: inline-block;
}

.attrib{
	display: block;
	text-align: right;
	font-size: 9pt;
	line-height: 12pt;
	padding: 0 12px;
}



.sprite2small {
	background-image: url(/assets/img/icons/sprite3-60x150.png);
	background-repeat: no-repeat;
	display: inline-block;
	width: 15px;
	height: 15px;
	line-height: 20px;
	
	background-position: -45px -45px; //default
}
.sprite2small.sprite-red-castle		{ background-position: 0 0; }
.sprite2small.sprite-red-keep		{ background-position: 0 -15px; }
.sprite2small.sprite-red-tower		{ background-position: 0 -30px; }
.sprite2small.sprite-red-camp		{ background-position: 0 -45px; }
.sprite2small.sprite-red-temple		{ background-position: 0 -60px; }
.sprite2small.sprite-red-temple		{ background-position: 0 -60px; }
.sprite2small.sprite-red-hollow		{ background-position: 0 -75px; }
.sprite2small.sprite-red-estate		{ background-position: 0 -90px; }
.sprite2small.sprite-red-overlook	{ background-position: 0 -105px; }
.sprite2small.sprite-red-ascent		{ background-position: 0 -120px; }

.sprite2small.sprite-blue-castle	{ background-position: -15px 0; }
.sprite2small.sprite-blue-keep		{ background-position: -15px -15px; }
.sprite2small.sprite-blue-tower		{ background-position: -15px -30px; }
.sprite2small.sprite-blue-camp		{ background-position: -15px -45px; }
.sprite2small.sprite-blue-temple	{ background-position: -15px -60px; }
.sprite2small.sprite-blue-hollow	{ background-position: -15px -75px; }
.sprite2small.sprite-blue-estate	{ background-position: -15px -90px; }
.sprite2small.sprite-blue-overlook	{ background-position: -15px -105px; }
.sprite2small.sprite-blue-ascent	{ background-position: -15px -120px; }

.sprite2small.sprite-green-castle	{ background-position: -30px 0; }
.sprite2small.sprite-green-keep		{ background-position: -30px -15px; }
.sprite2small.sprite-green-tower	{ background-position: -30px -30px; }
.sprite2small.sprite-green-camp		{ background-position: -30px -45px; }
.sprite2small.sprite-green-temple	{ background-position: -30px -60px; }
.sprite2small.sprite-green-hollow	{ background-position: -30px -75px; }
.sprite2small.sprite-green-estate	{ background-position: -30px -90px; }
.sprite2small.sprite-green-overlook	{ background-position: -30px -105px; }
.sprite2small.sprite-green-ascent	{ background-position: -30px -120px; }

.sprite2small.sprite-base-castle	{ background-position: -45px 0; }
.sprite2small.sprite-base-keep		{ background-position: -45px -15px; }
.sprite2small.sprite-base-tower		{ background-position: -45px -30px; }
.sprite2small.sprite-base-camp		{ background-position: -45px -45px; }
.sprite2small.sprite-base-temple	{ background-position: -45px -60px; }
.sprite2small.sprite-base-hollow	{ background-position: -45px -75px; }
.sprite2small.sprite-base-estate	{ background-position: -45px -90px; }
.sprite2small.sprite-base-overlook	{ background-position: -45px -105px; }
.sprite2small.sprite-base-ascent	{ background-position: -45px -120px; }

.sprite2small.sprite-bloodlust	{ background-position: 0 -135px; }


#guildsListContainer{
	margin-top: 20px;
}
#guildsList td{
	font-size: 10pt;
}
#guildsList h2{
	font-size: 14pt;
}
#guildsList .guildClaims{
	margin-left: 10px;
}
#guildsList .guildEmblem{
	padding-right: 20px;
	min-height: 160px;
	min-width: 160px;
}

#guildsList ul.history span.objName{
	max-width: 100%;
	line-height: 15px;
	
}
