body{
	font-family: menomonia;
	font-size: 16px;
	margin-bottom: 80px;
}

.container,
.navbar-static-top .container{
	width: 976px;
}


.strong{font-weight: bold;}
.text-center{text-align: center !important}
.text-left{text-align: left !important}
.text-right{text-align: right !important}
.small {font-size: 85%; line-height: 140%;}
.capitalize {text-transform: capitalize;}

.block-center{display: block; margin-left: auto; margin-right: auto;}
.block-left{display: block; margin-left: 0; margin-right: auto;}
.block-right{display: block; margin-left: auto; margin-right: 0;}
.nowrap{display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}

.num,
.mono{
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace
}

.well, .alert{
	margin: 4px 0;
	padding: 3px 0;
}

.alert-well {
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  color: #000;
}





.team.red{color: #b94a48 !important}
.team.blue{color: #3a87ad !important}
.team.green{color: #468847 !important}


/*
 * navbar
 */

.navbar{
	font-size: 14px;
}
.navbar .brand{
	padding: 0 20px 0 0;
	margin: 0;
}
.navbarIcon{
	font-size: 28px;
	line-height: 40px;
	margin: 0;
	padding: 0 8px 0 0;
	width: 1em;
	padding: 0;
	margin: 0;
}
.navbarIcon .icon-stack{
	font-size: 14px;
	vertical-align: middle;
}
#audioToggle{
	cursor: pointer;
}


/*
 * world selection
 */

#worldLists ul{
	padding: 8px 20px;
}
#worldLists ul.active{
	background-color: #f9f9f9;
	border: 1px solid #eee;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

#matchLists li{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#matchLists a{
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	float: left;
	width: 33%;
}



#scoreOverall h3{
	font-size: 15pt;
	line-height: 15pt;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
	margin: 0;
	padding: 4px;
}
#maps h4{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0 8px;
	margin: 0;
	text-align: center;
}


#maps .scores{
	font-size: 9pt;
	margin: 0;
	padding: 0 6px;
}

#maps .scoreBoard span{
	display: block;
	float: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	
}
#maps .scoreBoard .worldName{
	width: 67%;
}
#maps .scoreBoard .income{
	font-size: 8pt;
	width: 10%;
	text-align: right;
}
#maps .scoreBoard .score{
	font-size: 8pt;
	width: 23%;
	text-align: right;
}



.objectives ul{
	margin: 0;
	padding: 0;
}
.objectives .divider{
  *width: 100%;
  height: 1px;
  margin: 3px 1px;
  *margin: -1px 0 1px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
}

li.objective{
	line-height: 20px;
	height: 20px;
	font-size: 10pt;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: baseline;
	padding: 0 0 0 3px;
	position: relative;
	
	border: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

li.objective .recapTimer{
	color: #300;
	background-color: #ffc;
	text-align: center;
	float: right;
	font-size: 10px;
	height: 16px;
	line-height: 16px;
	padding: 0 4px;
	margin: 2px 1px 2px 0;
	
	position: absolute;
	right: 0;
	top: 0;
	
	border: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}



#logContainer{
	margin-top: 8px;
}
#logTabs{
	margin: 0 0 4px 0;
}

#logTabs li{
}
#logTabs a{
	cursor: pointer;
	font-size: 9pt;
	padding: 2px 8px; 
	margin: 0;
}

#log{
	height: 200px;
	overflow-y: auto;
}
.log{
	margin: 0;
	padding: 0;
	font-size: 9pt;
}

.log li,
.log .timeStamp,
.log .mapName,
.log .objName,
.log .objectiveEvent{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.log .timeStamp,
.log .mapName,
.log .objName,
.log .objectiveEvent{
	display: inline-block;
	float: left;
	border-top: #ccc;
}
.log li.header{
	font-weight: bold;
}
.log li.alt{
	background-color: #f9f9f9;
}

.log .timeStamp		{width: 7%;}
.log .mapName		{width: 18%;}
.log .objName		{width: 25%;}
.log .objectiveEvent{width: 50%;}

#audioToggle label{
	display: inline-block;
}




.sprite {
	background-image: url(/assets/img/icons/sprite.png);
	background-repeat: no-repeat;
	background-size: 120px 120px;
	display: inline-block;
	vertical-align: middle;
	width: 26px;
	height: 26px;
	
	background-position: -2px -2px; //default
}
.sprite.sprite-base-camp 		{ background-position: -2px -2px; }
.sprite.sprite-base-castle		{ background-position: -32px -2px; }
.sprite.sprite-base-keep		{ background-position: -62px -2px; }
.sprite.sprite-base-tower		{ background-position: -92px -2px; }
.sprite.sprite-blue-camp		{ background-position: -2px -32px; }
.sprite.sprite-blue-castle		{ background-position: -32px -32px; }
.sprite.sprite-blue-keep		{ background-position: -62px -32px; }
.sprite.sprite-blue-tower		{ background-position: -92px -32px; }
.sprite.sprite-green-camp		{ background-position: -2px -62px; }
.sprite.sprite-green-castle	{ background-position: -32px -62px; }
.sprite.sprite-green-keep		{ background-position: -62px -62px; }
.sprite.sprite-green-tower		{ background-position: -92px -62px; }
.sprite.sprite-red-camp		{ background-position: -2px -92px; }
.sprite.sprite-red-castle		{ background-position: -32px -92px; }
.sprite.sprite-red-keep		{ background-position: -62px -92px; }
.sprite.sprite-red-tower		{ background-position: -92px -92px; }


.spriteSmall {
	background-image: url(/assets/img/icons/sprite.png);
	background-repeat: no-repeat;
	background-size: 120px 120px;
	display: inline-block;
	vertical-align: middle;
	background-size: 60px 60px;
    width: 13px;
    height: 13px;
	
	background-position: -1px -1px; // default
}
.spriteSmall.sprite-base-camp		{ background-position: -1px -1px; }
.spriteSmall.sprite-base-castle		{ background-position: -16px -1px; }
.spriteSmall.sprite-base-keep		{ background-position: -31px -1px; }
.spriteSmall.sprite-base-tower		{ background-position: -46px -1px; }
.spriteSmall.sprite-blue-camp		{ background-position: -1px -16px; }
.spriteSmall.sprite-blue-castle		{ background-position: -16px -16px; }
.spriteSmall.sprite-blue-keep		{ background-position: -31px -16px; }
.spriteSmall.sprite-blue-tower		{ background-position: -46px -16px; }
.spriteSmall.sprite-green-camp		{ background-position: -1px -31px; }
.spriteSmall.sprite-green-castle	{ background-position: -16px -31px; }
.spriteSmall.sprite-green-keep		{ background-position: -31px -31px; }
.spriteSmall.sprite-green-tower		{ background-position: -46px -31px;; }
.spriteSmall.sprite-red-camp		{ background-position: -1px -46px; }
.spriteSmall.sprite-red-castle		{ background-position: -16px -46px; }
.spriteSmall.sprite-red-keep		{ background-position: -31px -46px; }
.spriteSmall.sprite-red-tower		{ background-position: -46px -46px; }