<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<system.webServer>
	
        
	<rewrite><rules>
            	
    	<!--  
		 **
		 **		Utility
		 **
		-->
		<rule name="default.cfm" stopProcessing="true">
            <match url="^default.cfm$" />
            <action type="Redirect" url="/" />
        </rule>
		<rule name="trim trailing slashes" stopProcessing="true">
            <match url="^(.+)/$" />
            <action type="Redirect" url="/{R:1}" />
        </rule>
				
				
            	
    	<!--  
		 **
		 **		"statics"
		 **
		-->
        <rule name="robots.txt" stopProcessing="true">
            <match url="^robots\.txt" />
            <action type="Rewrite" url="/robots.cfm" appendQueryString="true" />
        </rule>
        <rule name="favicon.ico" stopProcessing="true">
            <match url="^favicon.ico$" />
            <action type="Rewrite" url="/assets/img/gw2-dragon-32.png" />
        </rule>
				
				
            	
    	<!--  
		 **
		 **		ignores
		 **
		-->
		<rule name="ignore assets" stopProcessing="true">
			<match url="^assets/(.+)$" />
			<action type="None" />
		</rule>
		<rule name="ignore cache" stopProcessing="true">
			<match url="^cache/(.+)$" />
			<action type="None" />
		</rule>
		<rule name="ignore views" stopProcessing="true">
			<match url="^views(.*)\.html$" />
			<action type="None" />
		</rule>
		
		
		
            	
    	<!--  
		 **
		 **		App
		 **
		-->
		<rule name="/{lang}/{world}" stopProcessing="true">
		    <match url="^(([a-z-]{2})?(/([^\/]+))?)$" />
            <action type="Rewrite" url="/?lang={R:2}&amp;world={R:4}" />
        </rule>
        
        
        
	</rules></rewrite>
	
</system.webServer>
</configuration>
